@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=IBM+Plex+Sans&family=Montserrat:wght@400;600&family=Open+Sans&display=swap');

.content {

  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-template-rows: 8ft 1fr; */
}

section {
  background-color: #fcfbfb;
  font-family: 'Open Sans', Helvetica, sans-serif;

  font-size: 22px;
  padding: 0;
  background: no-repeat center center fixed;
  /* -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; */
  /* display: grid;
grid-template-columns: 1fr; */
  /* margin: 0;
 position: relative; */
  grid-column: 1/3;
}



header {
  background-color: #357266;
  display: grid;
  grid-template-columns: 2fr 1fr;

}


nav {
  display: flex;
  justify-content: space-around;

  overflow: hidden;
  
}

nav a {
  float: left;
  text-align: center;
  /* color: #ffc857; */
  /* color: white; */
  /* color: #edbb90; */
  color: #fcfbfb;
  text-decoration: none;
  /* padding: 35px; */
  padding: 14px 16px;
  font-size: 17px;
}

nav a:hover {
  background-color: #DB3834;
  color: #fcfbfb;
}



.social {
  /* float: right; */
  grid-column: 3/4;
  margin: auto;
  padding-right: 25px;
}




.me {
  position: absolute;
  top: 17px;
  left: 50px;
  /* color: #d16014; */
  /* color: #DB3A34; */
  /* color: white; */
  color: #fcfbfb;
  font-family: Montserrat, Helvetica, sans-serif ;
  padding-top: 100px;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  /* display: grid;
  grid-template-columns: 1fr 2fr; */
}

.me p {
  grid-column: 1/2;
  font-family: 'IBM Plex Mono', Helvetica, sans-serif;
  font-size: 20px;
}



.background {
  /* background-size: contain; */
  max-width: 100%;
  background-position: center center;
  /* background: no-repeat center center fixed; */
  /* background-attachment: fixed; */
  /* background-position: center center; */
  /* background-size: 100%; */
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

/*  */
footer {
  padding: 15px;
  margin-top:5px;
  border: 0px;
  /* width: 25px; */
  /* grid-column: 1fr; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: #323031;
  
} 
footer a:hover {
  background-color: #DB3834;
  color: #fcfbfb;
}

.bmenu a{
  /* padding:10px; */
  /* float: right; */
  text-align: center;
  /* color: #ffc857; */
  color: #323031;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 17px;
  
}
footer p{
  padding:10px;
}

.bmenu {
  display: flex;
  justify-content: space-around;

  overflow: hidden;
  padding-top: 15px;
  /* border: 0px; */
  /* width: 25px; */
  grid-column: 2/3;
  float: right;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 17px;
  /* display: flex; */
  /* justify-content: space-around; */
}

.copyw {
  /* padding-top: 5px; */
  /* padding: 10px; */
  border: 0px;
  /* width: 25px; */
  grid-column: 1/2;
  margin: 0;
  padding:0;
}

/* .nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
/* .nav a:hover {
    background-color: #ddd;
    color: black;
  } */

/* Add a color to the active/current link */
/* .nav a.active {
    background-color: #04AA6D;
    color: white;
  } */